$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #f17022 !default;
$yellow:  #ffc107 !default;
$green:   #19964A !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary: $yellow;
$warning: $blue;